@subject=Dein {{ ticket.label }} Ticket für das BarCamp RheinMain 2016 ({% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %})
<html>
<head></head>
<body>
    <p>
        <strong>Hallo {{ ticket.name }} ({{ ticket.email }}),</strong><br/>
        wir freuen uns, dich auf dem BarCamp RheinMain 2016 begrüßen zu dürfen.
    </p>
    <p>
        Dieses {{ ticket.label }} Ticket gilt persönlich für dich am {% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %}.
    </p>
    <p style="text-align: center;">
        <strong>
            {{ ticket.label }} Ticket-Code: {{ ticket.code }}
        </strong><br/>
        <img src="{{ image }}" />
    </p>
    <p>
        Bitte bringe diese E-Mail (ausgedruckt oder auf deinem SmartPhone) mit zum Checkin.
    </p>
    {% if registration is defined %}
    <hr>
    <p><strong>Deine Daten für dein Namensschild</strong></p>
    <p>Bitte kontrolliere deine Daten, damit diese auf deinem Namensschild richtig erscheinen:</p>
    <p>
        Name: {{ registration.name }}<br>
        {% if registration.twitter %}Twitter: {{ registration.twitter }}<br>{% endif %}
        {% if registration.tags %}Tags: {{ registration.tags }}<br>{% endif %}
    </p>
    <p>Daten nicht korrekt? Wende dich bitte an <a href="mailto:anmeldung@barcamp-rheinmain.de?subject=Korrigierte+Daten+fuer+Ticket+{{ ticket.code }}">Markus</a>.</p>
    <hr>
    {% endif %}
    <p>
        Klicke hier, um dein {{ ticket.label }} Ticket für {% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %} wieder zu stornieren:<br/>
        <a href="{{ cancel_link }}">{{ cancel_link }}</a>
    </p>
    <p>
        Bei Fragen und Problemen mit deiner Anmeldung wende dich bitte an <a href="mailto:anmeldung@barcamp-rheinmain.de">anmeldung@barcamp-rheinmain.de</a>.
    </p>
    <p>
        Beste Grüße,<br/>
        Dein BarCamp RheinMain Team
    </p>
</body>
</html>













