@subject={{ ticket.name }}, dein {{ ticket.label }} Ticket für das BarCamp RheinMain 2013 ({% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %})
<html>
<head></head>
<body>
    <p>
        <strong>Hallo {{ ticket.name }} ({{ ticket.email }}),</strong><br/>
        wir freuen uns, dich auf dem BarCamp RheinMain 2013 begrüßen zu dürfen.
    </p>
    <p>
        Dieses {{ ticket.label }} Ticket gilt persönlich für dich am {% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %}.
    </p>
    <p style="text-align: center;">
        <strong>
            {{ ticket.label }} Ticket-Code: {{ ticket.code }}
        </strong><br/>
        <img src="{{ image }}" />
    </p>
    <p>
        Bitte bringe diese E-Mail (ausgedruckt oder auf deinem SmartPhone) mit zum Checkin.
    </p>
    <p>
        Klicke hier, um dein {{ ticket.label }} Ticket für {% if ticket.day == 1 %}SAMSTAG{% else %}SONNTAG{% endif %} wieder zu stornieren:<br/>
        <a href="{{ cancel_link }}">{{ cancel_link }}</a>
    </p>
    <p>
        Bei Fragen und Problemen mit deiner Anmeldung wende dich bitte an <a href="mailto:anmeldung@barcamp-rheinmain.de">anmeldung@barcamp-rheinmain.de</a>.
    </p>
    <p>
        Beste Grüße,<br/>
        Dein BarCamp RheinMain Team
    </p>
</body>
</html>













